[Unit]
Description=Load wlan module
Conflicts=shutdown.target actdead.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStartPre=/sbin/modprobe wlan
ExecStart=/bin/sh -c 'echo ON > /dev/wlan'
ExecStop=/sbin/modprobe -r wlan
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
